PORT=3000
SESSION_SECRET={RANDOM STRING}
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=你的@gmail.com
SMTP_PASS=Google应用密码（非登录密码）
OWNER_NAME=admin
OWNER_PASSWORD=admin123
OWNER_EMAIL=admin@ntopia.top
